html, body
{
 height:100%;width:100%;
}
.centerImage {
display: block;
margin-left: auto;
margin-right: auto;
height: 90%;
width: auto
}
.centerText {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}